<div class="row pagename">
	<div class="span12">
		<h3>Discover</h3>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h3><a href="/discover/mods">Mods</a></h3>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
	</div>
	<div class="span4">
		<h3><a href="/discover/textures">Textures</a></h3>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
	</div>
	<div class="span4">
		<h3><a href="/discover/skins">Skins</a></h3>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
	</div>
</div>
