<div class="row pagename">
	<div class="span12">
		<h3>Discover</h3>
	</div>
</div>
<div class="row">
	<% _.each(categories, function(category) { %>

	<div class="span4">
		<h3><a href="/discover/<%= category.slug %>"><%= category.name %></a></h3>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
	</div>

	<% }) %>

</div>
