<div class="row projectheadingarea">
	<div class="span9">
		<h1 class="projectheading"><?= $ProjectInfo['Name']; ?></h1><?php if(isset($ProjectInfo['Description'])) { echo "<p class='lighter project-description'>" . $ProjectInfo['Description'] . "</p>"; } ?>
	</div>
	<div class="span3 watchersbox">
		<span class="lighter"><?= $App['Watchers']->Count($ProjectInfo['_id']) ?> Watchers</span> 
		<?php if($App['Watchers']->IsWatching($ProjectInfo['_id'])) { ?>
		<a class="button inverse" style="color:#444;" href="<?= SiteURL("project/" . $ProjectInfo['Slug'] . "/togglewatch"); ?>">Unwatch</a>
		<?php } else  { ?>
		<a class="button" style="color:#393;" href="<?= SiteURL("project/" . $ProjectInfo['Slug'] . "/togglewatch"); ?>">Watch</a>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="span2 sidebar">
		<label class="lighter">Owner<?php if(count($ProjectInfo['Owners']) > 1) { echo 's';} ?>:</label>
		<div class="scontent">
		<?php foreach ($ProjectInfo['Owners'] as $Owner) { ?>
		<a href="<?= SiteURL('user/' . $Owner['Username']); ?>"><?= Gravatar($Owner['_id'], $Size = '40px', 'HTML'); ?></a>
		<?php } ?>
		</div>
		<label class="lighter">Gallery:</label>
		<div class="scontent">
			None
		</div>
	</div>
	<div class="span10">
		<ul class="tabnav">
			<?php foreach ($SubPages as $SubPageSlug => $SubPageName) { ?>
			<li <?php if($CurrentSubPage == $SubPageSlug) { echo 'class="current"'; } ?>><a href="<?= SiteURL("project/" . $ProjectInfo['Slug'] . "/" . $SubPageSlug); ?>"><?= $SubPageName; ?></a></li>
			<?php } ?>
		</ul>
		<?= $SubPageContent; ?>
	</div>
</div>