<div class="row pagename">
	<div class="span12">
		<h3>Settings > <%= subPage.name %></h3>
	</div>
</div>
<div class="row">
	<div class="span3 sidenav">
		<ul>
			<% for (var i = subPages.length - 1; i >= 0; i--) { %>
			<li><a href="/settings/<%= subPages[i].slug %>"><%= subPages[i].name %></a></li>
			<% }; %>
		</ul>
	</div>
	<div class="span9">
		<%- subPage.view %>
	</div>
</div>