<div class="row pagename">
	<div class="span12">
		<h3>Settings > pageName</h3>
	</div>
</div>
<div class="row">
	<div class="span3 sidenav">
		<ul>
			<li><a href="/settings/profile">Profile</a></li>
			<li><a href="/settings/account">Account</a></li>
			<li><a href="/settings/services">Services</a></li>
		</ul>
	</div>
	<div class="span9">
		<?= $SubViewContent; ?>
	</div>
</div>