{{#if project.isOwner}}
<a style="float:right" href="/project/{{project.name}}/downloads/new">Add Download</a>
{{/if}}


{{#if downloads}}
{{#downloads}}

<div class="downloadbox">
  <div class="downloadinfo">
    <b><a href="/project/{{project.name}}/downloads/{{this.slug}}">{{this.name}}</a></b> <span class="lighter">uploaded {{time_ago this.uploaded}} by <a href="/user/{{uploader.username}}">{{uploader.preferedname}}</a></span>
  </div>
  <div class="links lighter"><a href="/project/{{project.name}}/downloads/{{this._id}}/download">Download</a> | <a href="/project/{{project.name}}/downloads/{{this.slug}}#description">Changelog</a> | <a href="/project/{{project.name}}/downloads/{{this.slug}}#comments">0 Comments</a></div>
  <div class="downloadcount">{{this.count}}<span style="font-size:12px;">Downloads</span></div>
  <div style="clear:both"></div>
</div>
{{/downloads}}
{{else}}
<div class="lighter nodownloads">
  <p>Currently There Are No Downloads Available.</p>
</div>
{{/if}}