{{#if galleryImages}}
{{#galleryImages}}
<div class="galleryimage">
	<a href="<?= SiteURL("project/" . $ProjectInfo['Slug'] . "/gallery/" . $ImageInfo['ImageFileID']); ?>">
		<img src="<?= $Files->Thumbnail($ImageInfo['ImageFileID'], 179, 120); ?>"/>
	</a>
</div>
{{/galleryImages}}
{{else}}
<div class="lighter noimages">
	<p>No Images in Gallery</p>
</div>
{{/if}}

{{#if project.isOwner}}
<div class="galleryuploadarea">
	<form method="POST" action="/project/{{project.name}}/gallery" enctype="multipart/form-data">
		<label for="GalleryFileUpload">Upload Image (png/gif/jpg) (Max Size: 700Kb)</label>
		<input type="file" name="GalleryFileUpload" id="GalleryFileUpload">
		<input type="submit" value="Upload">
	</form>
</div>
{{/if}}