{{^project.timeline}}
<div class="lighter notimeline">
	<p>There's Currently Nothing in The Timeline.</p>
</div>
{{/project.timeline}}


{{#project.timeline}}
<div class="timeline-action">
	<a href="/user/{{this.actor.username}}"><img src="{{gravatar_url this.actor.gravatarhash 60}}"/></a>
	<div class="action">
		<a href="/user/{{this.actor.username}}">{{this.actor.username}}</a>
		created
		<a href="/project/{{this.project.name}}">{{this.project.name}}</a>
		{{time_ago this.when}}
	</div>
	<div class="description">

	</div>
</div>
{{/project.timeline}}
