{{#if project.isOwner}}
<div class="goright" style="margin-top:10px;">
	<a class="button" href="/project/{{project.name}}/gallery/{{galleryImage._id}}/default">Set Default</a>
	<a class="button danger delete" href="/project/{{project.name}}/gallery/{{galleryImage._id}}/delete">Delete</a>
</div>
{{/if}}
{{#galleryImage}}
<div class="clear gallerysingleimage">
	{{#if name}}<h2>{{name}}</h2>{{/if}}
	<img src="{{this.src}}"/>
	{{#if this.description}}<p>{{description}}</p>{{/if}}
</div>
{{/galleryImage}}


<div class=comments>
</div>

<script type="text/javascript">
$.getJSON('/comments?identifier[type]=galleryImage&identifier[id]={{galleryImage._id}}', function (body, err) {
	for (var i = body.length - 1; i >= 0; i--) {
		$('.comments').append('<div class=message>' + body[i].text + '</div>')
	};
	
})
</script>

<form method=POST action="/comment">
	<input type=text name="text">
	<input type=hidden name="identifier[type]" value="galleryImage">
	<input type=hidden name="identifier[id]" value="{{galleryImage._id}}">
	<input type=submit value="Comment">
</form>