{{#category}}
<div class="row pagename">
	<div class="span12">
		<h3><a href="/discover">Discover</a> > {{this.name}}</h3>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h3><a href="/discover/{{this.slug}}/popular">Popular</a></h3>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
	</div>
	<div class="span4">
		<h3><a href="/discover/{{this.slug}}/recent">Recent</a></h3>
		{{#this.recent}}
		{{{project_widget this}}}
		{{/this.recent}}
	</div>
	<div class="span4">
		<h3><a href="/discover/{{this.slug}}/trending">Trending</a></h3>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
		<a href="/project/projectslug"><img src="http://placehold.it/298x160" alt="Project Name" /></a>
	</div>
</div>
{{/category}}