<div class="row">
  <div class="span12">
    <h1>Login</h1>
  </div>
</div>
<div class="row">
  <div class="span6">
    <form action='/login' method="POST">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" value="Login" name="loginsubmit">
    </form>
  </div>
  <div class="span6">
    <a href="/auth/github">Login using GitHub</a>
    <a href="/auth/twitter">Login using Twitter</a>
  </div>
</div>