<div class="row">
	<div class="span8">
		<h2>Timeline</h2>
		{{#if usersFeedTimeline}}
		{{#usersFeedTimeline}}
		<div class="timeline-action">
			<a href="/user/{{actor.username}}"><img src="{{gravatar_url actor.email 40}}"/></a>
			<div class="action">
				<a href="/user/{{actor.username}}">{{user_preferred_name actor}}</a>
				{{type}}
				<a href="/project/{{project.name}}">{{project.name}}</a>
				{{time_ago createdAt}}
			</div>
			<div class="description">

			</div>
		</div>
		{{/usersFeedTimeline}}

		{{else}}
		<p class="center-text lighter">You Have No Messages in Your Timeline. Start Watching Stuff!</p>
		{{/if}}
	</div>
	<div class="span4">
		<div class="projectlist">
			<h3>Your Projects <a class="right" href="/new">+</a></h3>
			<ul>
				{{#if usersProjects}}
				{{#usersProjects}}
				<li><a href="/project/{{this.name}}">{{this.name}}</a></li>
				{{/usersProjects}}

				{{else}}
				<li class="none">You have None</li>
				{{/if}}
			</ul>
		</div>
		<div class="projectlist">
			<h3>Watched Projects</h3>
			<ul>
				{{#if usersWatching}}
				{{#usersWatching}}
				<li><a href="/project/{{this.name}}">{{this.name}}</a></li>
				{{/usersWatching}}

				{{else}}
				<li class="none">You have None</li>
				{{/if}}
			</ul>
		</div>
	</div>
</div>